node_modules/
dist/
dist-prod/
.DS_Store
.idea
.angular

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

package-lock.json
yarn.lock
