<div class="wrapper wrapper-full-page">
    <div
            class="page-header login-page header-filter"
            filter-color="black"
            style="
      background-image: url('./assets/img/login.jpg');
      background-size: cover;
      background-position: top center;
    "
    >
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center mt-5">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <form [formGroup]="passwordForm" autocomplete="off" novalidate>
                        <div class="card card-forgot" style="padding: 0 15px">
                            <div class="card-header card-header-white text-center mx-0">
                                <!-- <h4 class="card-title">AutomationHQ</h4> -->
                                <div class="logo-form">
                                    <img
                                            alt="AutomationHQ"
                                            src="/assets/img/logo/ahq-logo-login.png"
                                    />
                                </div>
                            </div>
                            <div class="card-body px-0">
                                <p class="card-description text-center">Set Password</p>
                                <div class="row">
                                    <div
                                            *ngIf="invitedUser === 'true' && !forgotPassword"
                                            class="col-6"
                                    >
                                        <div class="form-group has-default">
                                            <div class="input-group">
                                                <div class="input-group-prepend"></div>
                                                <input
                                                        class="form-control"
                                                        formControlName="firstName"
                                                        id="first_name"
                                                        placeholder="First Name"
                                                        type="text"
                                                />
                                            </div>
                                            <div
                                                    *ngIf="passwordForm.dirty && f.firstName.errors"
                                                    class="help-block"
                                                    style="color: red"
                                            >
                                                <div *ngIf="f.firstName.errors.required">
                                                    First name is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                            *ngIf="invitedUser === 'true' && !forgotPassword"
                                            class="col-6"
                                    >
                                        <div class="form-group has-default">
                                            <div class="input-group">
                                                <div class="input-group-prepend"></div>
                                                <input
                                                        class="form-control"
                                                        formControlName="lastName"
                                                        id="last_name"
                                                        placeholder="Last Name"
                                                        type="text"
                                                />
                                            </div>
                                            <div
                                                    *ngIf="passwordForm.dirty && f.lastName.errors"
                                                    class="help-block"
                                                    style="color: red"
                                            >
                                                <div *ngIf="f.lastName.errors.required">
                                                    Last name is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div
                                            *ngIf="invitedUser === 'true' && !forgotPassword"
                                            class="col-6"
                                    >
                                        <div class="form-group has-default" style="margin-top: 20px;">
                                            <div class="input-group">
                                                <div class="input-group-prepend"></div>
                                                <mat-form-field class="d-block">
                                                    <input
                                                            (blur)="countryBlur()"
                                                            (ngModelChange)="
                              countryObject = $event; changeCountry($event)
                            "
                                                            [(ngModel)]="countryObject"
                                                            [matAutocomplete]="auto"
                                                            aria-label="Select Country Code"
                                                            formControlName="countryCode"
                                                            matInput
                                                            placeholder="Select Country Code"
                                                            type="text"
                                                    />
                                                    <mat-autocomplete
														#auto="matAutocomplete"
                                                        [displayWith]="displayFn"
                                                    >
                                                        <mat-option
                                                                *ngFor="
                                let code of filteredOptions
                                  | async
                                  | orderBy: 'name'
                              "
                                                                [value]="code"
                                                        >
                                                            {{ code.name }}
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>
                                            </div>
                                            <div
                                                    *ngIf="submitted && !this.selectedCountryDialCode"
                                                    class="help-block"
                                                    style="color: red"
                                            >
                                                Country Code is required
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                            *ngIf="invitedUser === 'true' && !forgotPassword"
                                            class="col-6"
                                    >
                                        <div class="form-group has-default mt-4">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                          <span class="input-group-text p-0 pr-2" id="basic-phone">
                            {{ selectedCountryDialCode }}
                          </span>
                                                </div>
                                                <input
                                                        aria-describedby="basic-phone"
                                                        aria-label="Phone Number"
                                                        class="form-control"
                                                        formControlName="phone"
                                                        id="phone"
                                                        maxlength="10"
                                                        placeholder="Phone Number"
                                                        style="padding-left: 5px"
                                                        type="text"
                                                />
                                            </div>
                                            <div
                                                    *ngIf="submitted && f.phone.errors"
                                                    class="help-block"
                                                    style="color: red"
                                            >
                                                <div *ngIf="f.phone.errors.required">
                                                    Phone No. is required
                                                </div>
                                                <div *ngIf="f.phone.errors.pattern">
                                                    Phone No. is not valid
                                                </div>
                                            </div>
                                            <div
                                                    *ngIf="submitted && hasError && hasError?.hasOwnProperty('phone')"
                                                    class="help-block"
                                                    style="color: red"
                                            >
                                                {{ hasError["phone"] }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group has-default">
                                            <div class="input-group">
                                                <div class="input-group-prepend"></div>
                                                <input
                                                        autocomplete="new-password"
                                                        class="form-control"
                                                        formControlName="password"
                                                        maxlength="50"
                                                        minlength="8"
                                                        placeholder="Enter password"
                                                        required
                                                        type="password"
                                                />
                                            </div>
                                            <div
                                                    *ngIf="passwordForm.dirty && f.password.errors"
                                                    class="help-block"
                                                    style="color: red"
                                            >
                                                <div *ngIf="f.password.errors.required">
                                                    Password is required
                                                </div>
                                                <div *ngIf="f.password.errors.minlength">
                                                    Password must be at least 8 characters
                                                </div>
                                            </div>
                                            <!-- <app-password-strength [passwordToCheck]="passwordCheck" [barColors]="myColors"
                                              [barLabel]="barLabel" [baseColor]="baseColor" [strengthLabels]="strengthLabels"
                                              (onStrengthChanged)="strengthChanged($event)">
                                            </app-password-strength> -->
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group has-default">
                                            <div class="input-group">
                                                <div class="input-group-prepend"></div>
                                                <input
                                                        class="form-control"
                                                        formControlName="cpassword"
                                                        placeholder="Confirm Password"
                                                        type="password"
                                                />
                                            </div>
                                            <div
                                                    *ngIf="passwordForm.dirty && f.cpassword.errors"
                                                    class="help-block"
                                                    style="color: red"
                                            >
                                                <div *ngIf="f.cpassword.errors.required">
                                                    Confirm Password is required
                                                </div>
                                                <div *ngIf="f.cpassword.errors.minlength">
                                                    Password must be at least 8 characters
                                                </div>
                                                <div *ngIf="f.cpassword.errors.confirmedValidator">Password and Confirm
                                                    Password must be match.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                    class="card-footer d-flex justify-content-center align-items-center"
                            >
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-check mt-3 mb-3">
                                            <button
                                                    (click)="setPassword()"
                                                    [disabled]="passwordForm.invalid"
                                                    class="btn btn-rose"
                                            >
                                                Submit
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
