<div class="popupframe-title">
    <div class="d-flex justify-content-between">
        <div mat-dialog-title>
            <div class="d-flex align-items-center mb-2">
                <h2 *ngIf="title">{{title}}</h2>
            </div>
        </div>
        <div class="rightpopup-section">
            <button class="btn-popupClose" mat-button mat-dialog-close><span
                    class="material-icons">close</span></button>
        </div>
    </div>
</div>
<div class="popup-dialog-content">
    <div *ngIf="details" class="row">
        <div class="col-md">{{details}}</div>
    </div>

    <div class="row">
        <div class="col-md">
            <img height="100%" src="{{screenShotLink}}" width="100%">
        </div>
    </div>
</div>
