<div #strength id="strength">
    <!-- <small>{{barLabel}}</small> -->
    <ul class="strengthBar" id="strengthBar">
        <li [style.background-color]="bar0" class="point" id="bar0"></li>
        <li [style.background-color]="bar1" class="point"></li>
        <li [style.background-color]="bar2" class="point"></li>
        <li [style.background-color]="bar3" class="point"></li>
        <li [style.background-color]="bar4" class="point"></li>
    </ul>
    <!-- <small [hidden]="!strengths" class="pre">  {{strengthLabel}}</small> -->
</div>
