<div class="wrapper wrapper-full-page">
    <div
            class="page-header login-page header-filter"
            filter-color="black"
            style="
      background-image: url('./assets/img/login.jpg');
      background-size: auto;
      height: 100%;
      background-position: top center;
    "
    >
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center mt-5">
                <div class="col-lg-5 col-md-6 col-sm-8 col-xs-12">
                    <form
                            (ngSubmit)="submit()"
                            [formGroup]="forgotPasswordForm"
                            class="form"
                            novalidate
                    >
                        <div class="card card-login" style="padding: 0 15px;">
                            <div class="card-header card-header-white text-center mx-0">
                                <!-- <h4 class="card-title">AutomationHQ</h4> -->
                                <div class="logo-form">
                                    <img alt="AutomationHQ" src="/assets/img/logo/ahq-logo-login.png">
                                </div>
                            </div>
                            <div class="card-body px-0">
                                <p class="card-description text-center">Forgot Password</p>
                                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text pl-0">
                        <i class="material-icons">email</i>
                      </span>
                    </div>
                    <input
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                            class="form-control"
                            formControlName="email"
                            name="email"
                            placeholder="Email Address"
                            type="text"
                    />
                    <div
                            *ngIf="submitted && f.email.errors"
                            class="invalid-feedback"
                    >
                      <div *ngIf="f.email.errors.required">
                        Email Address is required
                      </div>
                    </div>
                  </div>
                </span>
                            </div>
                            <div class="card-footer d-flex justify-content-center align-items-center">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-check mt-3 mb-3">
                                            <button class="btn btn-rose" mat-raised-button type="submit">
                                                Submit
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
