<div class="allusers-grp">
    <div class="expansion-list">
        <div class="userlist-row">
            <div class="customScroll-contentScroll list-contentScroll">
                <div class="mat-header-row projectuser-mat-header">
                    <div class="mat-header-cell user-mat-header">
                        User
                    </div>
                    <div class="mat-header-cell lastActivity-mat-header">
                        Last Activity
                    </div>
                    <div class="mat-header-cell status-mat-header">
                        Status
                    </div>
                    <div class="mat-header-cell action-mat-header">
                        <!-- Action -->
                    </div>
                </div>
                <div *ngFor="let user of users" class="mat-row">
                    <div class="mat-cell user-mat-header">
                        <div class="testscript-name">
                            {{ user.firstName ? user.firstName + " " : "" }}
                            {{ user.lastName ? user.lastName : " " }}
                        </div>
                        <div class="testscript-email config-date-txt" matTooltip="{{ user.email }}">
                            {{ user.email }}
                        </div>
                    </div>
                    <div class="mat-cell lastActivity-mat-header">
                        <div class="testscript-lastActivity">
                            {{ user.lastActivityDate | date: "dd-MM-yyyy h:mm:ss a" }}
                        </div>
                    </div>
                    <div class="mat-cell status-mat-header">
                        <div class="testscript-status">
                            <div *ngIf="user.confirmEmail"
                                 [ngClass]="user.active ? 'badge bg-success' : 'badge bg-danger'">
                                {{ user.active ? "Enabled" : "Disabled" }}
                            </div>
                            <div *ngIf="!user.confirmEmail && user.invited" class="badge bg-info">
                                Invited
                            </div>
                        </div>
                    </div>
                    <div class="mat-cell action-mat-header d-flex justify-content-end">
                        <div *ngIf="user.confirmEmail">
                            <mat-slide-toggle (change)="updateUserStatus(user, $event)" [checked]="user.active"
                                              color="primary">
                            </mat-slide-toggle>
                        </div>
                        <div *ngIf="!user.confirmEmail && user.invited">
                            <a (click)="resendInvitationUser(user)"
                               class="btn btn-link btn-primary btn-just-icon custom-btn-icon ml-2"
                               matTooltip="Resend Invitation User">
                                <mat-icon>refresh</mat-icon>
                            </a>
                        </div>
                        <a (click)="setUserToRemove(user)"
                           class="btn btn-link btn-primary btn-just-icon custom-btn-icon ml-2"
                           data-target="#removeUserConfirmation" data-toggle="modal" matTooltip="Delete User">
                            <mat-icon>delete</mat-icon>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="users.length === 0" class="testscriptlist-row">
            <div class="row">
                <div class="col-md-12">
                    <h4>No users</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Start Pagination -->
<div class="pagination">
    <mat-paginator (page)="pageChange($event)" [length]="totalElements" [pageSizeOptions]="[10, 20, 50]"
                   [pageSize]="pageNumber">
    </mat-paginator>
</div>
<!-- End Pagination -->

<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade modal-mini modal-primary deleteModal-dialog"
     id="removeUserConfirmation" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="popupframe-title">
                    <div class="mat-dialog-title">
                        <h2>Delete User</h2>
                    </div>
                </div>
            </div>
            <div class="modal-body m-0 pt-3">
                <p> Are you sure you want to delete{{ deleteUserInfo ? deleteUserInfo.email : "" }} user? </p>
            </div>
            <div class="modal-footer justify-content-center">
                <button (click)="deleteUser()" class="btn btn-primary mr-2" data-dismiss="modal"
                        mat-raised-button type="button">
                    Yes
                    <div class="ripple-container"></div>
                </button>
                <button class="btn btn-primary-outline" data-dismiss="modal" mat-raised-button type="button">
                    No
                </button>
            </div>
        </div>
    </div>
</div>
