<div [ngClass]="{'main-content' : orgId === undefined}">
    <div [ngClass]="{'container-fluid' : orgId === undefined}">
        <div [ngClass]="{'row' : orgId === undefined}">
            <div [ngClass]="{'col-md-12' : orgId === undefined}">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <h4 class="card-title text-primary"><b>Project Information</b></h4>
                        <button (click)="openDialog()" class="btn btn-primary pull-right">
                            Add Project
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                        </div>
                        <div class="material-datatables">
                            <table [dataSource]="dataSource.data" aria-describedby="datatables_project"
                                   class="table table-striped table-no-bordered table-hover dataTable dtr-inline mat-elevation-z8"
                                   mat-table role="grid" style="width: 100%;">
                                <ng-container matColumnDef="projectName">
                                    <th *matHeaderCellDef mat-header-cell>Project Name</th>
                                    <td *matCellDef="let element" mat-cell>
                                        {{element.projectName}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="description">
                                    <th *matHeaderCellDef mat-header-cell>Project Description</th>
                                    <td *matCellDef="let element" mat-cell>
                                        {{element.description}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="isEnabled">
                                    <th *matHeaderCellDef mat-header-cell>Status</th>
                                    <td *matCellDef="let element" mat-cell>
                                        <mat-slide-toggle (change)="updateStatus($event, element.id)"
                                                          [checked]="element.isEnabled">
                                            {{ element.isEnabled ? 'Enabled' : 'Disabled' }}
                                        </mat-slide-toggle>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="actions">
                                    <th *matHeaderCellDef mat-header-cell></th>
                                    <td *matCellDef="let element" mat-cell>
                                        <a (click)="projectUser(element)" class="btn btn-link btn-primary btn-just-icon"
                                           matTooltip="Users List">
                                            <i aria-label="Users List" class="material-icons">supervisor_account</i>
                                        </a>
                                        <a (click)="editProject(element)" class="btn btn-link btn-primary btn-just-icon"
                                           matTooltip="Edit Project">
                                            <i aria-label="Edit Project" class="material-icons">edit</i>
                                        </a>
                                        <a (click)="deleteProject(element.id)"
                                           class="btn btn-link btn-primary btn-just-icon"
                                           matTooltip="Delete Project">
                                            <i aria-label="Delete Project" class="material-icons">delete</i>
                                        </a>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="noRecord">
                                    <td *matFooterCellDef colspan="4" mat-footer-cell>
                                        No records found.
                                    </td>
                                </ng-container>

                                <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                                <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
                                <tr *matFooterRowDef="['noRecord']"
                                    [ngClass]="{'d-none':!(dataSource.data!=null && dataSource.data.length==0)}"
                                    mat-footer-row></tr>
                            </table>
                            <mat-paginator (page)="pageEvent=$event; loadProjectPage($event)" [hidePageSize]="true"
                                           [length]="pageLength"
                                           [pageSizeOptions]="pageSizeOptions"
                                           [pageSize]="pageSize">
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
