<div [ngClass]="{'main-content' : orgId === undefined}">
    <div [ngClass]="{'container-fluid' : orgId === undefined}">
        <div [ngClass]="{'row' : orgId === undefined}">
            <div [ngClass]="{'col-md-12' : orgId === undefined}">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <h4 class="card-title"><b>User Information</b></h4>
                        <button (click)="openDialog()" class="btn btn-primary pull-right">
                            Add User
                        </button>
                        <button
                                (click)="openInviteDialog()"
                                class="btn btn-primary pull-right"
                        >
                            Invite New User
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="material-datatables">
                            <table
                                    [dataSource]="dataSource.data"
                                    aria-describedby="datatables_user"
                                    class="table table-striped table-no-bordered table-hover dataTable dtr-inline mat-elevation-z8"
                                    mat-table
                                    role="grid"
                                    style="width: 100%;"
                            >
                                <ng-container matColumnDef="firstName">
                                    <th *matHeaderCellDef mat-header-cell>Name</th>
                                    <td *matCellDef="let element" mat-cell>
                                        {{element.firstName}} {{element.lastName}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="email">
                                    <th *matHeaderCellDef mat-header-cell>Email Address</th>
                                    <td *matCellDef="let element" mat-cell>{{element.email}}</td>
                                </ng-container>

                                <ng-container matColumnDef="phone">
                                    <th *matHeaderCellDef mat-header-cell>Phone</th>
                                    <td *matCellDef="let element" mat-cell>
                                        {{element?.phone?.phoneNumber}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="active">
                                    <th *matHeaderCellDef mat-header-cell>Status</th>
                                    <td *matCellDef="let element" mat-cell>
                                        <mat-slide-toggle
                                                (change)="userUpdate(element.userId, element?.active, $event)"
                                                [checked]="element?.active"
                                        >
                                            {{ element?.active ? 'Enabled' : 'Disabled' }}
                                        </mat-slide-toggle>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="actions">
                                    <th *matHeaderCellDef mat-header-cell>Actions</th>
                                    <td *matCellDef="let element" mat-cell>
                                        <a
                                                (click)="editUser(element)"
                                                class="btn btn-link btn-primary btn-just-icon"
                                                matTooltip="Edit User"
                                        >
                                            <i aria-label="Edit User" class="material-icons">edit</i>
                                        </a>
                                        <a
                                                (click)="deleteUser(element.userId)"
                                                class="btn btn-link btn-primary btn-just-icon"
                                                matTooltip="Delete User"
                                        >
                                            <i aria-label="Delete User" class="material-icons"
                                            >delete</i
                                            >
                                        </a>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="noRecord">
                                    <td *matFooterCellDef class="text-center" colspan="5" mat-footer-cell>
                                        No records found.
                                    </td>
                                </ng-container>

                                <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                                <tr
                                        *matRowDef="let row; columns: displayedColumns;"
                                        mat-row
                                ></tr>
                                <tr
                                        *matFooterRowDef="['noRecord']"
                                        [ngClass]="{'d-none':!(dataSource.data!=null && dataSource.data.length==0)}"
                                        mat-footer-row
                                ></tr>
                            </table>
                            <mat-paginator
                                    (page)="pageEvent=$event; loadUsersPage($event)"
                                    [hidePageSize]="true"
                                    [length]="pageLength"
                                    [pageSizeOptions]="pageSizeOptions"
                                    [pageSize]="pageSize"
                            >
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
