<div class="card-header">
    <h4 class="card-title text-primary">Mobile Device</h4>
</div>
<div class="card-body">
    <div class="row">
        <div class="col-md-12">
            <div class="customScroll-contentScroll list-contentScroll">
                <mat-tab-group>
                    <mat-tab label="Emulators">
                        <ng-template matTabContent>
                            <div class="sub-tabs">
                                <mat-tab-group>
                                    <mat-tab label="Android">
                                        <ng-template matTabContent>
                                            <h3>Android Devices List</h3>
                                        </ng-template>
                                    </mat-tab>
                                    <mat-tab label="Apple">
                                        <ng-template matTabContent>
                                            <h3>Apple Devices List</h3>
                                        </ng-template>
                                    </mat-tab>
                                </mat-tab-group>
                            </div>
                        </ng-template>
                    </mat-tab>
                    <mat-tab label="Real Devices">
                        <ng-template matTabContent>
                            <div class="sub-tabs">
                                <mat-tab-group class="sub-tabs">
                                    <mat-tab label="Android">
                                        <ng-template matTabContent>
                                            <h3>Android Devices List</h3>
                                        </ng-template>
                                    </mat-tab>
                                    <mat-tab label="Apple">
                                        <ng-template matTabContent>
                                            <h3>Apple Devices List</h3>
                                        </ng-template>
                                    </mat-tab>
                                </mat-tab-group>
                            </div>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>
