.customScroll-contentScroll {
  height: calc(100vh - 250px);
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
}

.globalParameter_wrapper {
  font-size: 14px;
}

.remove-padding {
  color: gray;

  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: unset !important;
  }
}
