<div class="main-content">
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center bg-white img-center">
                    <div id="not-found">
                        <div class="not-found">
                            <div class="not-found-404">
                                <!-- <h1><i class="fa fa-times-circle-o" aria-hidden="true"></i></h1> -->
                                <embed src="/assets/img/cross.png" style="width: 150px;" type="image/png"/>
                            </div>
                            <h2>Something went wrong here</h2>
                            <p>
                                We have notified the support team on this issue. They will fix
                                this or get back to you for more information. Any further information contact <a
                                    class="p-0 bg-none text-primary" href="mailto:support@automationahq.ai">support@automationahq.ai</a>
                            </p>
                            <a [routerLink]="['/dashboard']">Go Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
