#not-found {
  position: relative;
  height: 100vh;
}

#not-found .not-found {
  position: absolute;
  left: 50%;
  top: 25%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -25%);
}

.not-found {
  max-width: 460px;
  width: 100%;
  text-align: center;
  line-height: 1.4;
}

.not-found .not-found-404 {
  position: relative;
  width: 180px;
  height: 180px;
  margin: 0px auto 25px;
}

.not-found .not-found-404 > div:first-child {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--ahq-yellow-1);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border: 5px dashed var(--ahq-black);
  border-radius: 5px;
}

.not-found .not-found-404 > div:first-child:before {
  content: '';
  position: absolute;
  left: -5px;
  right: -5px;
  bottom: -5px;
  top: -5px;
  -webkit-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.1) inset;
  border-radius: 5px;
}

.not-found .not-found-404 h1 {
  color: var(--ahq-black);
  font-weight: 700;
  margin: 0;
  font-size: 90px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  text-align: center;
  height: 40px;
  line-height: 40px;
}

.not-found h2 {
  font-size: 33px;
  font-weight: 700;
  text-transform: uppercase;
}

.not-found p {
  font-size: 16px;
  color: var(--ahq-black);
  font-weight: 400;
}

.not-found a {
  display: inline-block;
  padding: 10px 25px;
  background-color: var(--ahq-grey-9);
  border: none;
  border-radius: 40px;
  color: var(--ahq-white);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.not-found a:hover {
  background-color: var(--ahq-grey-14);
}
