<div class="card-header d-flex justify-content-between">
    <h4 class="card-title text-primary">Browser</h4>
    <div>
        <span *ngIf="commonService.getUpgradeRequire()" class="text-danger align-items-center mr-2 h4">
           Please Upgrade to <a class="premium-chip" href="javascript:void(0)">Premium plan</a>
        </span>
        <span>
            <button (click)="openAddBrowserDialog()" [disabled]="!commonService.isUserPaid()"
                    [matTooltip]="!commonService.isUserPaid() ? 'Please upgrade to Premium plan' : 'Add Browser'"
                    [ngStyle]="!commonService.isUserPaid() ? {'border-color': 'gray', 'cursor' : 'not-allowed'} : {}"
                    class="btn btn-primary btn-link text-capitalize"
                    mat-stroked-button>
                <i class="material-icons">add</i> Add Browser
            </button>
        </span>
    </div>
</div>
<div class="card-body">
    <app-browser-list></app-browser-list>
</div>
