<div class="cd-pricing-container">
    <div class="cd-pricing-switcher">
        <p class="fieldset">
            <input (change)="switchPlan($event.target.value)" checked id="monthly-1" name="duration-1" type="radio"
                   value="monthly">
            <label for="monthly-1">Monthly</label>
            <input (change)="switchPlan($event.target.value)" id="yearly-1" name="duration-1" type="radio"
                   value="yearly">
            <label for="yearly-1">Yearly</label>
            <span class="cd-switch"></span>
        </p>
    </div>
    <!--Monthly -->
    <ul *ngIf="monthly" class="cd-pricing-list cd-bounce-invert">
        <li *ngFor="let details of licenseDetails; let i = index" [ngClass]="{'cd-popular': isActive(i)}">
            <ul class="cd-pricing-wrapper">
                <li class="is-visible">
                    <header class="cd-pricing-header">
                        <h2>{{details?.name}}</h2>
                        <div class="cd-price">
                            <span class="cd-currency">$</span>
                            <span class="cd-value">{{details?.licenseCost === null ? 0 : details?.licenseCost}}</span>
                            <span class="cd-duration">mo</span>
                        </div>
                        <span>({{details?.executorLicenseView?.numberOfMinutes}} No. Of minutes)</span>
                    </header>
                    <div class="cd-pricing-body">
                        <ul class="cd-pricing-features">
                            <li><em>{{details?.executorLicenseView?.numberOfParallelLicenses}}</em> No.Of Parallel
                                Executions
                            </li>
                            <li>
                                <mat-form-field>
                                    <mat-label>Select Parallel Test</mat-label>
                                    <mat-select placeholder="Parallel Test">
                                        <mat-option value="1">1 Parallel Test (5 Users)</mat-option>
                                        <mat-option value="2">2 Parallel Test (10 Users)</mat-option>
                                        <mat-option value="3">5 Parallel Test (25 Users)</mat-option>
                                        <mat-option value="4">10 Parallel Test (50 Users)</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </li>
                            <!-- <li><em>{{details?.executorLicenseView?.numberOfMinutes}}</em> No. Of minutes</li> -->
                        </ul>
                    </div>
                    <div class="cd-pricing-body">
                        <ul class="cd-pricing-features">
                            <!-- <li><em>{{details?.supportLicenseView == null ? 0 : 1}}</em> Number of Support Minutes</li> -->
                            <li>
                                <!-- <em>{{details?.supportLicenseView?.numberOfMinutes}} :</em>
                                Number of Support Minutes / -->
                                <em><input [disabled]="minuteText" id="minutes" name="minutes"
                                           style="font-family:arial; width:30px;"
                                           type="text" value={{details?.supportLicenseView?.numberOfMinutes}}/> :</em>
                                Number of Support Minutes /
                                <select (change)="onChangeEvent($event.target.value)">
                                    <option value="onetime">One Time</option>
                                    <option value="daily">Daily</option>
                                    <option value="weekly">Weekly</option>
                                    <option value="monthly">Monthly</option>
                                    <option value="yearly">Yearly</option>
                                </select>
                                <!-- <input type="text" name="email" id="emailNl" style="font-family:arial; width:200px;" />
                                <span id="submitNl" style="cursor:pointer">OK</span> -->
                            </li>
                        </ul>
                    </div>
                    <footer class="cd-pricing-footer">
                        <a (click)="planSelect(i)" class="cd-select">Select</a>
                    </footer>
                    <div class="cd-pricing-body">
                        <ul class="cd-pricing-features">
                            <li *ngFor="let information of details?.informations">
                                <em>{{information?.information}}</em>
                                Information
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- <li data-type="monthly" class="is-visible">
                    <header class="cd-pricing-header">
                        <h2>Basic</h2>

                        <div class="cd-price">
                            <span class="cd-currency">$</span>
                            <span class="cd-value">30</span>
                            <span class="cd-duration">mo</span>
                        </div>
                    </header>
                    <div class="cd-pricing-body">
                        <ul class="cd-pricing-features">
                            <li><em>256MB</em> Memory</li>
                            <li><em>1</em> User</li>
                            <li><em>1</em> Website</li>
                            <li><em>1</em> Domain</li>
                            <li><em>Unlimited</em> Bandwidth</li>
                            <li><em>24/7</em> Support</li>
                        </ul>
                    </div>

                    <footer class="cd-pricing-footer">
                        <a class="cd-select" href="http://codyhouse.co/?p=429">Select</a>
                    </footer>
                </li> -->


            </ul>
        </li>

        <!-- <li class="cd-popular">
            <ul class="cd-pricing-wrapper">
                <li data-type="monthly" class="is-visible">
                    <header class="cd-pricing-header">
                        <h2>Popular</h2>

                        <div class="cd-price">
                            <span class="cd-currency">$</span>
                            <span class="cd-value">60</span>
                            <span class="cd-duration">mo</span>
                        </div>
                    </header>

                    <div class="cd-pricing-body">
                        <ul class="cd-pricing-features">
                            <li><em>512MB</em> Memory</li>
                            <li><em>3</em> Users</li>
                            <li><em>5</em> Websites</li>
                            <li><em>7</em> Domains</li>
                            <li><em>Unlimited</em> Bandwidth</li>
                            <li><em>24/7</em> Support</li>
                        </ul>
                    </div>

                    <footer class="cd-pricing-footer">
                        <a class="cd-select" href="http://codyhouse.co/?p=429">Select</a>
                    </footer>
                </li>


            </ul>
        </li> -->

        <!-- <li>
            <ul class="cd-pricing-wrapper">
                <li data-type="monthly" class="is-visible">
                    <header class="cd-pricing-header">
                        <h2>Premier</h2>

                        <div class="cd-price">
                            <span class="cd-currency">$</span>
                            <span class="cd-value">90</span>
                            <span class="cd-duration">mo</span>
                        </div>
                    </header>

                    <div class="cd-pricing-body">
                        <ul class="cd-pricing-features">
                            <li><em>1024MB</em> Memory</li>
                            <li><em>5</em> Users</li>
                            <li><em>10</em> Websites</li>
                            <li><em>10</em> Domains</li>
                            <li><em>Unlimited</em> Bandwidth</li>
                            <li><em>24/7</em> Support</li>
                        </ul>
                    </div>

                    <footer class="cd-pricing-footer">
                        <a class="cd-select" href="http://codyhouse.co/?p=429">Select</a>
                    </footer>
                </li>


            </ul>
        </li> -->
    </ul>
    <!-- Year -->
    <ul *ngIf="yearly" class="cd-pricing-list cd-bounce-invert">
        <li>
            <ul class="cd-pricing-wrapper">
                <li class="is-visible" data-type="yearly">
                    <header class="cd-pricing-header">
                        <h2>Basic</h2>
                        <div class="cd-price">
                            <span class="cd-currency">$</span>
                            <span class="cd-value">320</span>
                            <span class="cd-duration">yr</span>
                        </div>
                    </header>

                    <div class="cd-pricing-body">
                        <ul class="cd-pricing-features">
                            <li><em>256MB</em> Memory</li>
                            <li><em>1</em> User</li>
                            <li><em>1</em> Website</li>
                            <li><em>1</em> Domain</li>
                            <li><em>Unlimited</em> Bandwidth</li>
                            <li><em>24/7</em> Support</li>
                        </ul>
                    </div>

                    <footer class="cd-pricing-footer">
                        <a class="cd-select" href="http://codyhouse.co/?p=429">Select</a>
                    </footer>
                </li>
            </ul>
        </li>

        <li>
            <ul class="cd-pricing-wrapper">
                <li class="is-visible" data-type="yearly">
                    <header class="cd-pricing-header">
                        <h2>Popular</h2>

                        <div class="cd-price">
                            <span class="cd-currency">$</span>
                            <span class="cd-value">630</span>
                            <span class="cd-duration">yr</span>
                        </div>
                    </header>

                    <div class="cd-pricing-body">
                        <ul class="cd-pricing-features">
                            <li><em>512MB</em> Memory</li>
                            <li><em>3</em> Users</li>
                            <li><em>5</em> Websites</li>
                            <li><em>7</em> Domains</li>
                            <li><em>Unlimited</em> Bandwidth</li>
                            <li><em>24/7</em> Support</li>
                        </ul>
                    </div>

                    <footer class="cd-pricing-footer">
                        <a class="cd-select" href="http://codyhouse.co/?p=429">Select</a>
                    </footer>
                </li>
            </ul>
        </li>

        <li>
            <ul class="cd-pricing-wrapper">
                <li class="is-visible" data-type="yearly">
                    <header class="cd-pricing-header">
                        <h2>Premier</h2>
                        <div class="cd-price">
                            <span class="cd-currency">$</span>
                            <span class="cd-value">950</span>
                            <span class="cd-duration">yr</span>
                        </div>
                    </header>

                    <div class="cd-pricing-body">
                        <ul class="cd-pricing-features">
                            <li><em>1024MB</em> Memory</li>
                            <li><em>5</em> Users</li>
                            <li><em>10</em> Websites</li>
                            <li><em>10</em> Domains</li>
                            <li><em>Unlimited</em> Bandwidth</li>
                            <li><em>24/7</em> Support</li>
                        </ul>
                    </div>

                    <footer class="cd-pricing-footer">
                        <a class="cd-select" href="http://codyhouse.co/?p=429">Select</a>
                    </footer>
                </li>
            </ul>
        </li>
    </ul>
</div>
