<div class="card custom-card height-100">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <h4 class="card-title text-primary">Epics</h4>
            <app-epic-form (epicSaveChange)="onEpicSaveChange()" [mat-menu-prevent]></app-epic-form>
        </div>
    </div>
    <div class="card-body listCol-scroll">
        <div class="all-epic-row">
            <div class="d-flex justify-content-between">
                <span (click)="showAllEpics()" class="all-epic-title">All Epics</span>
                <span class="badge badge-primary-light mr-4" matTooltip="Number of Epics">{{ epics?.length }}</span>
            </div>
        </div>
        <app-search-field (searchEvent)="searchInEpicList($event)" class="search-box" label="Search Epic">
        </app-search-field>
        <mat-accordion *ngIf="epics.length > 0" [multi]="false" class="list-contentScroll">
            <mat-expansion-panel (closed)="panelOpenState = false" (opened)="panelOpenState = true"
                *ngFor="let epic of epics" class="expansion-list epics-list" togglePosition="before">
                <mat-expansion-panel-header>
                    <mat-panel-title class="epic-header-title d-flex justify-content-between">
                        <div (click)="selectedEpic(epic)" class="epic-title align-middle" matTooltip="{{ epic.name }}">
                            <span class="material-icons align-middle font-size-21 mat-icon-color">wysiwyg</span>
                            {{ epic.name }}
                        </div>
                        <div class="epictitle-config d-flex justify-content-between align-items-center">
                            <span class="badge badge-primary-light" matTooltip="Number of Stories">{{
                                epic.numberOfStories }}</span>
                            <button [matMenuTriggerFor]="menu" aria-label="Epic More Menu"
                                class="btn btn-link btn-primary btn-just-icon custom-btn-icon ml-1" mat-icon-button>
                                <mat-icon class="material-icons">more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu" [hasBackdrop]="true">
                                <app-epic-form (epicSaveChange)="onEpicSaveChange()" [epic]="epic" [mat-menu-prevent]>
                                    Edit
                                </app-epic-form>
                                <button (click)="setEpicToRemove(epic)" class="custom-matmenu"
                                    data-target="#removeEpicConfirmation" data-toggle="modal" mat-menu-item
                                    matTooltip="Delete Epic">
                                    <mat-icon class="custom-btn-icon mr-0">delete</mat-icon>
                                    <span>Delete epic</span>
                                </button>
                            </mat-menu>
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="epics-descrpt">{{ epic.summary }}</div>
            </mat-expansion-panel>
        </mat-accordion>

        <div *ngIf="epics.length === 0" class="font-italic ml-1 font-weight-light">
            Please add Epics to get started
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade modal-mini modal-primary deleteModal-dialog"
    id="removeEpicConfirmation" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="popupframe-title">
                    <div class="mat-dialog-title">
                        <h2>Delete Epic</h2>
                    </div>
                </div>
            </div>
            <div class="modal-body m-0 pt-3">
                <p>
                    Are you sure you want to delete
                    {{ epicToRemove ? epicToRemove.name : "" }} epic along with their
                    related stories and test scripts?
                </p>
            </div>
            <div class="modal-footer justify-content-center">
                <button (click)="removeEpic(epicToRemove)" class="btn btn-primary mr-2" data-dismiss="modal"
                    mat-raised-button type="button">
                    Yes
                    <div class="ripple-container"></div>
                </button>
                <button class="btn btn-primary-outline" data-dismiss="modal" mat-raised-button type="button">
                    No
                </button>
            </div>
        </div>
    </div>
</div>