<div class="mx-2">
    <div class="p-0">
        <iframe [src]="overviewLink" allowfullscreen frameborder="no"
                height="350px" width="100%"></iframe>
    </div>

    <div class="row">
        <div class="col-md-12 mt-3" style="position: fixed; bottom: 2%;">
            <button
                    (click)="goToDashboard.next()"
                    class="btn btn-rose pull-right ml-3"
                    mat-raised-button
                    type="button"
            >
                Go to Dashboard
            </button>
            <button
                    (click)="goToAHQAgentInfo()"
                    class="btn btn-basic pull-left mr-3"
                    type="button"
            >
                Previous
            </button>
        </div>
    </div>

</div>
